
main {
  padding: 20px;
  text-align: center;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #e2e2e2; 
  border-radius: 10px; 
  padding: 20px; 
}

.article img {
  width: 100%;
  border-radius: 10px;
}

.article-text {
  width: 45%;
  text-align: left; 
}

.sponsors {
    background-color: #d4c1cc;
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  
  .sponsors img {
    width: 100px;
    margin: 0 20px;
    border-radius: 10px;
  }
  
  .sponsors div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  

.directory {
  margin-top: 20px;
  background-color: #9d89a3;
  border-radius: 10px; 
  padding: 20px;
}

.directory details {
  margin: 10px 0;
  text-align: left;
}

.directory summary {
  font-weight: bold;
  cursor: pointer;
}

.directory ul {
  padding-left: 20px;
}

.directory li ul {
  padding-left: 20px;
}

footer {
  padding: 20px 0;
  margin-top: 20px;
}
