@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #FAFAFA;
  line-height: 1.6;
}

header {
  background-color: #8172af;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
}

.logo {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.nav-button {
  background-color: #613585;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  width: 150px;
}

.nav-button:hover {
  background-color: #d4c1cc;
}

.blog-title {
  font-size: 24px;
  margin-top: 20px;
  color: #ffffff;
}

main {
  padding: 20px;
  text-align: center;
}

.blog-post {
  margin-bottom: 40px;
}

.blog-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

footer {
  background-color: #10002B;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .blog-image {
    width: 100%;
    height: auto;
  }
}
