img {
    border-radius: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

.section-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #d4c1cc;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.section-image {
    width: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section {
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#desk,
#storage-lights-clutter {
    background-color: #e6e4e4;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #d4c1cc;
}

.section:nth-of-type(odd) {
    background-color: #d4c1cc;
}

.section-content {
    margin-top: 30px;
    text-align: left;
    color: #000000;
}

.section-content.rounded {
    margin-top: 30px;
    text-align: left;
    background-color: #d4c1cc;
    padding: 20px;
    border-radius: 10px;
}

.section-content h1,
.section-content h2,
.section-content h4 {
    color: #613585;
}

.section-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.section-content li {
    margin-bottom: 10px;
}

.section-content li:before {
    content: "•";
    color: #613585;
    display: inline-block;
    width: 1em;
    margin-right: 10px;
    list-style-position: inside;
}

.section-content article {
    margin-top: 20px;
    text-align: justify;
}

.section-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.section hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

.section:not(:first-child) {
    margin-top: 30px;
}

#storage-lights-clutter img:nth-of-type(2) {
    margin-top: 20px;
}
